.container[data-v-a79b1bbc]{display:flex;gap:20px}.left-column[data-v-a79b1bbc]{flex:2;overflow:auto}.right-column[data-v-a79b1bbc]{flex:1;position:sticky;top:0;align-self:flex-start;background:#fff}
