.container[data-v-393aabee]{display:flex;gap:20px}.left-column[data-v-393aabee]{flex:2;overflow:auto}.right-column[data-v-393aabee]{flex:1;position:sticky;top:0;align-self:flex-start;background:#fff}
